SQLDASH_DOMAIN=localhost
SQLDASH_DEBUG=true

SQLDASH_HTTP_PORT=8800
SQLDASH_HTTPS_PORT=8443
SQLDASH_WEB_ADDRESS=127.0.0.1:7070

SQLDASH_DATA_DIRECTORY=./data

SQLDASH_SQLD_MANAGED=false
SQLDASH_SQLD_BINARY=sqld
SQLDASH_SQLD_ADDRESS=127.0.0.1:8080
SQLDASH_SQLD_ADMIN_ADDRESS=127.0.0.1:8081

SQLDASH_ALLOWED_ORIGINS=

SQLDASH_AUTOMATIC_CERTIFICATES=false
SQLDASH_CERTIFICATE_EMAIL=
CLOUDFLARE_API_TOKEN=
